body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#up-arrow {
    height: 10%;
}

h1 {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    text-align: center;
}

p {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    text-align: center;
}

code {
    background-color: white;
}

#guide {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
